<!-- header 區塊 -->
<header class="sticky-top z-4">
  <nav class="navbar navbar-expand-lg py-4 py-md-5 bg-primary">
    <div class="container">
      <a class="navbar-brand link-light link-opacity-25-hover me-0 py-0 fs-9 fs-md-7 font-shrikhand" href="../pages/index.html">ALPHABOX+</a>
      <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="material-symbols-outlined text-white" style="font-size: 44px;">
          menu
        </span>
      </button>
      <div class="collapse navbar-collapse position-absolute position-lg-static start-0 end-0 top-100 justify-content-between align-items-center border-top border-white border-lg-0 bg-gradient bg-lg-none" id="navbarSupportedContent">
        <ul class="navbar-nav flex-grow-1 justify-content-lg-center align-items-center gap-1 gap-lg-11 mb-0 pt-8 p-lg-0">
          <li class="nav-item">
            <a class="nav-link px-0 fw-medium link-light link-opacity-25-hover" aria-current="page" href="#">產品</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-0 fw-medium link-light link-opacity-25-hover" href="./about.html">關於我們</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-0 fw-medium link-light link-opacity-25-hover" href="#">最新消息</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-0 fw-medium link-light link-opacity-25-hover" href="#">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-0 fw-medium link-light link-opacity-25-hover" href="#">聯絡我們</a>
          </li>
        </ul>
        <ul class="navbar-nav align-items-center gap-1 gap-lg-0 pb-9 p-lg-0">
          <li class="me-lg-8">
            <a class="nav-link px-0 fw-medium link-light link-opacity-25-hover" href="#">註冊</a>
          </li>
          <li class="me-lg-9">
            <a class="nav-link px-0 fw-medium link-light link-opacity-25-hover" href="#">登入</a>
          </li>
          <li>
            <a class="nav-link btn btn-outline-secondary d-flex align-items-center gap-1 px-5 fw-medium text-black bg-white rounded-1" href="#">
              <span class="material-symbols-outlined">
                point_scan
              </span>
              訂閱
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>