<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI虛擬陪伴-首頁</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&family=Material+Icons"
      rel="stylesheet">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 首頁內容 -->
    <main>

      <!-- banner 區塊 -->
      <section class="bg-inRadial pt-16 pb-19 py-lg-24 mb-8 mb-lg-11">
        <div class="container mb-8 mb-lg-10">
          <h1 class="mb-8 mb-lg-9 fs-6 fs-lg-5 fw-bold ls-3">關於我們</h1>
          <div class="row gy-9">
            <p class="col-xl-6 fw-medium">創立於2021年，我們的使命是將科技與人性化設計相結合，為您打造最佳的3D立體投影陪伴機器人。憑藉創新的技術、卓越的研發團隊以及對品質的追求，我們致力於為全球用戶提供最先進且易用的陪伴機器人。</p>
            <p class="col-xl-6 d-flex flex-column gap-8 gap-lg-0 mb-0 text-lg-end">
              <span>我們擁抱變革，追求技術創新，以提供更卓越的產品給全球用戶。</span>
              <span>我們始終以用戶需求為核心，致力於提供最滿意的產品與服務。</span>
              <span>我們堅持高品質標準，確保每一款產品都經過嚴格的測試與品質把控。</span>
              <span>我們重視團隊協作，鼓勵創意交流，共同為實現願景而努力。</span>
            </p>
          </div>
        </div>
        <picture>
          <source media="(min-width: 768px)" srcset="../assets/images/about/about_us.png">
          <img src="../assets/images/about/about_us_mobile.png" class="img-fluid mb-5 mb-lg-12 w-100" alt="兩位男性背對著走在有許多光源的廊道上">
        </picture>
        <div class="container">
          <div class="col-lg-8 d-flex flex-column flex-lg-row align-items-center gap-2 gap-lg-8 mx-lg-auto">
            <span class="material-symbols-outlined fs-80">
              emergency
            </span>
            <p class="mb-0 fw-medium">我們相信科技的力量能夠改變人類生活。通過不斷創新與優化，我們期待為您打造一款具有高度智能、豐富功能且呈現真實感的3D立體投影陪伴機器人，讓科技成為您生活中真誠的夥伴。</p>
          </div>
        </div>
      </section>

      <!-- introduction 區塊 -->
      <section>
        <div class="container-fluid px-lg-19">
          <div class="swiper intro-swiper mb-8 mb-lg-11">
            <ul class="swiper-wrapper list-unstyled">
              <li class="swiper-slide">
                <img src="../assets/images/about/hand.png" class="img-fluid" alt="一雙手正在使用手機，背景與人的衣服都是黑色">
              </li>
              <li class="swiper-slide">
                <img src="../assets/images/about/screen.png" class="img-fluid" alt="有一張工作桌上面放著筆電及平板，周邊放著一些花草與裝飾的物品">
              </li>
              <li class="swiper-slide">
                <img src="../assets/images/about/box.png" class="img-fluid" alt="一個展示台，展示著菱形的物品，大部分燈光是綠色呈現">
              </li>
            </ul>
          </div>
          <h2 class="col-lg-9 d-flex justify-content-around justify-content-xl-between mb-8 mb-lg-19 fs-9 fs-md-5 fs-lg-3 fw-bolder text-black text-center mx-lg-auto">
            <span>A</span>
            <span>L</span>
            <span>P</span>
            <span>H</span>
            <span>A</span>
            <span>B</span>
            <span>O</span>
            <span>X</span>
            <span>+</span>
          </h2>
          <div class="mb-4 pb-8 pb-lg-19 border-bottom border-black">
            <div class="row fw-medium text-dark">
              <div class="col-xl-5">
                <p>我們提供多款3D立體投影陪伴機器人，涵蓋知識型、娛樂型、生活型和情感型等不同類別，以滿足您的各種需求。每款產品都經過精心設計，具備高度智能化、多功能和人性化操作等特點，讓您在日常生活中獲得更便利的陪伴體驗。</p>
              </div>
              <div class="col-xl-4 align-self-end ms-xl-auto">
                <p class="mb-0">此外，我們還提供完善的售後服務，包括<span class="badge badge-deco">產品保固</span>、<span class="badge badge-deco">技術支援</span>及<span class="badge badge-deco">線上客服</span>協助，確保您在購買與使用過程中得到全面支持。</p>
              </div>
            </div>
          </div>
          <div class="bg-black" style="height: 12px;"></div>
        </div>
        <div class="container py-16 py-lg-24">
          <div class="row align-items-center gy-5">
            <div class="col-md-6 col-lg-7">
              <img src="../assets/images/about/meeting.png" class="img-fluid" alt="六個人的雙手放在木質桌子上面，桌子上有一些文件，看起來正在進行會議討論">
            </div>
            <div class="col-md-6 col-lg-5">
              <p class="mb-0 text-black fw-medium">展望未來，我們將繼續投入研發，引領3D立體投影陪伴機器人技術的發展。通過結合虛擬現實、擴增現實和人工智能等領域的最新技術，我們將努力為用戶帶來更多前所未有的創新體驗。</p>
            </div>
          </div>
        </div>

        <div class="bg-black">
          <div class="container py-12">
            <div class="row justify-content-center align-items-center gy-8">
              <div class="col-lg-8">
                <p class="mb-0 fw-medium">我們熱忱歡迎有志之士加入我們的團隊，共同創造更美好的未來。如果您對科技充滿熱情，並擁有相關領域的專業知識，請隨時查看我們的招聘信息或與我們聯繫，讓我們攜手共進。</p>
              </div>
              <div class="col-lg-2">
                <a class="nav-link btn btn-outline-secondary d-flex justify-content-center align-items-center gap-1 py-2 px-5 fw-medium text-black bg-white rounded-1" href="#">
                <span class="material-symbols-outlined">
                  point_scan
                </span>
                查看職缺
              </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../assets/js/aboutSwiper.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>